name: Release Next Version

on:
  workflow_dispatch:
    inputs:
      patch_version:
        description: "Patch version"
        default: true
        required: true
        type: boolean
      use_custom_version:
        description: "Use custom_version instead of increment"
        default: false
        required: true
        type: boolean
      custom_version:
        description: "Specific version to release:"
        default: 2.0.0
        type: string
        required: true

permissions:
  contents: write

jobs:
  bump-and-publish:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.save-release-version.outputs.release_version }}
    steps:
    - name: Prepare app token
      if: ${{ vars.GH_BUMP_VERSION_APP_ID != '' }}
      uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: ${{ vars.GH_BUMP_VERSION_APP_ID }}
        private-key: ${{ secrets.GH_BUMP_VERSION_APP_KEY }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user pipx
        pipx install poetry

    - name: Patch minor version
      if: ${{ inputs.patch_version && !inputs.use_custom_version }}
      run: poetry version patch

    - name: Set specific version
      if: ${{ inputs.patch_version && inputs.use_custom_version }}
      run: poetry version ${{ inputs.custom_version }}

    - name: Save release version
      id: save-release-version
      run: echo "release_version=$(poetry version --short)" >> "$GITHUB_OUTPUT"

    - name: Publish package
      run: |
        poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
        poetry publish --build --no-interaction

    - name: Commit changes
      if: ${{ inputs.patch_version }}
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add pyproject.toml
        git commit -m "Update version to ${{ steps.save-release-version.outputs.release_version }}"
        git push -u origin ${{ github.ref }}

  create-github-release:
    permissions:
      contents: write
      pull-requests: write
    needs: [ bump-and-publish ]
    uses: Netcracker/qubership-workflow-hub/.github/workflows/release-drafter.yml@v1.0.1
    with:
      version: ${{ needs.bump-and-publish.outputs.release_version }}
      ref: ${{ github.ref_name }}
      publish: true

  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: [ bump-and-publish, create-github-release ]
    steps:
    - uses: actions/checkout@v4

    - name: Build and Publish Docker image
      uses: netcracker/qubership-workflow-hub/actions/docker-action@b2468074afe9e14270e4d3967376cded733da360 #v2.0.5
      with:
        ref: ${{ github.ref_name }}
        custom-image-name: qubership-pipelines-declarative-executor
        platforms: linux/amd64
        tags: latest, v${{ needs.bump-and-publish.outputs.release_version }}
        dry-run: false
        download-artifact: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
