name: Run Tests

on:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: read

env:
  IMAGE_NAME: "qubership-pipelines-declarative-executor:test"

jobs:
  build-image-and-run-tests:
    runs-on: ubuntu-latest
    env:
      SOPS_AGE_RECIPIENTS: ${{ secrets.SOPS_AGE_RECIPIENTS }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
      PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_USER: ${{ github.actor }}
      PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_EMAIL: ${{ github.event.sender.id }}+${{ github.actor }}@users.noreply.github.com
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ">> Build Docker image"
        run: docker build --quiet -t ${{ env.IMAGE_NAME }} .

      - name: ">> Run Tests"
        run: |
          docker run --rm \
          -v $PWD/tests:/tests \
          -v $GITHUB_STEP_SUMMARY:/github-step-summary \
          -e GITHUB_STEP_SUMMARY=/github-step-summary \
          -e SOPS_AGE_RECIPIENTS -e SOPS_AGE_KEY \
          -e PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_URL \
          -e PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_USER -e PIPELINES_DECLARATIVE_EXECUTOR_EXECUTION_EMAIL \
          -w /tests \
          ${{ env.IMAGE_NAME }} python ./run_test_suite.py
